* {
    font-family:Arial, Helvetica, sans-serif;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
body {
    background-color: darkolivegreen;
}
.base {
    background-color: rgb(243, 241, 241);
    width: 740px;
    height: 200px;
    margin:auto;
    border: 1em;
}
h1 {
    font-size: 44px;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    width: 320px;
    margin: 18px auto;
    background-color: rosybrown;
    outline:ridge;
    outline-color: rgb(143, 122, 94);
    outline-width: 4px;
    padding: 14px 8px;
}
.card {
    background-color: beige;
    outline: solid;
    outline-color:rgb(189, 145, 106);
    display: block;
    width: 660px;
    margin: 26px auto;
}
.buttons {
    display: inline;
    margin: 18px;
}

button {
    margin: 8px 12px;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 50px;
    background-color:  burlywood;
    border-color: rgb(143, 122, 94);
    border-style: double;
}
button:hover{
    background-color: rgb(170, 139, 98);
}

